[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
freezegun = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
mixer = "*"
pytest-freezegun = "*"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
django-environ = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
server = "python3 manage.py runserver"
test = "pytest"
